@import "tailwindcss";

@font-face {
  font-family: 'Jaro';
  src: url('/fonts/Jaro-Regular-VariableFont.woff2') format('woff2-variations'),
       url('/fonts/Jaro-Regular-VariableFont.ttf') format('truetype'); /* optional fallback */
  font-weight: 100 900; /* variable range */
  font-stretch: 75% 125%; /* include if your font supports it */
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary-background: #FD9DE8;
  --color-secondary-background: #FFFFFFB3;
  --color-primary-foreground: #FFFFFF;
  --color-secondary-foreground: #F515E6;
  --font-primary-display: 'Jaro', sans-serif;
  --color-primary-fill: #FF63F5;
  --text-shadow-primary: 0.05em 0.05em 0 var(--color-primary-fill);
  --shadow-primary: 1px 2px 25px var(--color-primary-fill);
}


body {
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-background);
  color: var(--color-primary-foreground);
}